body {
	width: 100%;
	margin:0;
	background-color: #FFFFFF;
}
.menu {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	height:65px;
	padding-top:35px;
	font: regular 14px/19px PT Serif;	
}
.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}
a {
	text-decoration: none;
    color: #666;
}
p, a {
	margin: 0;
	padding-bottom: 10px;
}
.fashion {
	font: bold 25px/33px PT Serif;
}
.gold-text {
	color: #C9A96E;
}
.text-sans {
	font: normal 14px/19px PT Sans;
}
.text-data {
	font: normal 12px/16px PT Serif;
	color: #666666;
}
.author-text {
	font: bold 15px/21px PT Serif;
	padding-top: 10px;
	padding-bottom:5px;
}
.section-author-text {
	font: italic 14px/19px PT Serif;
	padding-top:0px;
	padding-bottom: 10px;
}
.p-author-text {
	font: normal 14px/24px PT Sans;
	color: #666666;
}
.block1 {
	justify-content: flex-start;
	margin-left: 80px;
	position: relative;
}
.block2 {
	display: flex;
	justify-content: flex-end;
	margin-right: 80px;
	font: normal 14px/19px PT Serif;
	position: relative;
}
.block2 div {
	padding-right: 15px;
}
.container-item1 {
	display: flex;
	position: relative;
	flex-direction: column;
    justify-content: flex-end;
	height: calc(100vh - 100px);
	width: 100vw;
	background-image: url(fashion/img1.png);
	background-repeat: no-repeat;
	filter:grayscale(0.3) saturate(90%);
}
.container-item1 section {
	width: 560px;
	padding-left: 375px;
	padding-bottom: 60px;
	color: white;
}
.container-header {
	font: bold 42px/52px PT Serif;
}
.container-item2 {
	display: flex;
	position: relative;
	width: 800px;
	flex-wrap: wrap;
	margin-left: 150px;
	margin-top: 60px;
}
.card {
	display:flex;
	flex-direction: column;
	width: 370px;
	height: 415px;
	margin-left: 30px;
	margin-bottom: 30px;
	align-items: center;
	box-shadow: 0 0 5px #E5E5E5;
}
.card-header {
	font: normal 20px/28px PT Serif;
	text-align: center;
}
.card-header-2 {
	font: normal 18px/26px PT Serif;
	text-align: center;
}
.card img {
	margin-bottom:15px;
}

.wide-card {
	width: 770px;
	height: 540px;
	align-items: flex-start;
}
.wide-card p, .wide-card a {
	padding-left: 30px;
}
.text-block {
	margin: 0;
	width: 580px;
	font: normal 14px/24px PT Sans;
	color: #666666;	
}
.slider-page {
	display:flex;
	position: relative;
	margin-left: 160px;
	margin-top: 30px;
	width: 510px;
	height: 40px;
	box-shadow: 0 0 5px #E5E5E5;
	justify-content: space-around;
	align-items: center;
}
.slider-page a {
	padding:10px;
	font: normal 14px/16px HK Grotesk;
	color: black;
}
.container-item3 {
	display:flex;
	position: relative;
	flex-direction: column;
	width:270px;
	margin-top: 60px;
}
.sidebar-border {
	border: 1px solid #E5E5E5;
	height: 35px;
	width:268px;
	text-align: center;
	padding-top: 16px;
	margin-bottom: 20px;
	font: normal 16px/21px PT Serif;
}
.sidebar-border:not(:first-child) {
	margin-top: 50px;
}

.card-author {
	box-shadow: 0 0 5px #E5E5E5;
	text-align: center;
}
.card-author div {
	border-top: 1px solid #E5E5E5;
	margin-top: 10px;
	padding: 10px;
}
.sidebar-card {
	margin: 0;
	width: 270px;
	height: 300px;
	margin-bottom: 20px;
}
.categories {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #E5E5E5;
	font: normal 14px/19px PT Serif;
	color: #666666;
}
.categories a {
	padding: 15px 0;
}
.categories:last-child {
	border: none;
}

.social-media{
  display: grid;
  grid-template-columns: 88px 88px 88px;
  grid-template-rows: 88px 88px 88px;
  gap: 3px;
  text-align: center;
}
.social-media-element{
  background-color: #F8F9FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  font: normal 12px/16px PT Sans;
  color:#999999;
}
.social-media-element a, 
.youtube a, .google a{
	padding-top:5px;
}
.y {
  display: flex;
  justify-content: space-around;
  background-color: #F8F9FA;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.youtube, .google {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top:5px;
  font: normal 12px/16px PT Sans;
  color:#999999;
}
.tags {
  display: flex;
  width: 270px;
  height: 150px;
  flex-wrap: wrap;
}
.tags p {
	background-color: #F8F9FA;
	padding: 6px 14px;
	margin-bottom: 10px;
	font: normal 14px/19px PT Serif;
	color: #666666;
}
.tags p:not(:nth-child(3n)) {
	margin-right: 10px;
}
.follow {
	position: relative;
	text-align: center;
	font: normal 24px/32px PT Serif;
	margin-top: 80px;
	margin-bottom: 30px;
	padding:0;
}
.inst-photo img:not(:last-child) {
	margin-right: 8px;	
}
.footer-fashion{
	text-align: center;
	margin-top: 80px;
	margin-bottom:60px;
}
.footer-menu {
	display: flex;
	width:355px;
	justify-content: space-between;
	margin:0 auto;
    margin-bottom: 30px;
    font: normal 14px/18px PT Sans;
    color: #666666;
}
.footer-bottom {
	display: flex;
	width:320px;
	justify-content: space-around;
	margin:0 auto;
	margin-bottom: 40px;
}
.footer-bottom a {
	border: 1px solid #E5E5E5;
	border-radius: 100%;
	padding:5px 8px;
}
.footer-bottom a:nth-child(2) {
	background-color: #C9A96E;
}
.logwork {
	margin: 0 auto;
	width: 900px;
	border-top:1px solid #E5E5E5;
	text-align: center;
	padding: 30px 0;
	font: normal 14px/18px PT Sans;
    color:#666666;
}
.container-item1 img, .container-item2 img{
	filter:grayscale(0.3) saturate(90%);
}
.container-item4 img {
	filter:grayscale(0.3) saturate(120%);
}
